
.header {
  grid-area: h;
  height: 60px;
  background: #2b2c32;
  position: relative;
  z-index: 210;
  display: flex;
  align-items: center;

  img {
    width: 75px;
    padding-left: 10px;
  }
}
