.appWrapper {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
                    "h h"
                    "n c";
  grid-gap: 10px;

}

body {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-width: 1220px;
  min-width: 320px;
  position: relative;
  background: #121215;
  padding: 0 15px;
  box-shadow: 0 0 5px #000;
  color: #acacac;

}

.appWrapperContent {
  grid-area: c;
  background: #2b2c32;
}




