.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  //
  //.dialogsItem {
  //
  .dialog {
    padding-bottom: 10px;
    font-size: 14px;
    .link {
      text-decoration: none;
      color: #acacac;
    }
  }

  .active {
    color: #fff;
    font-weight: bold;
  }

  //
  //.messages {
  //  .message {
  //
  //  }
  //}
}