.nav {
  grid-area: n;
  background: #2b2c32;
  display: flex;
  flex-direction: column;
  padding: 10px;

  .item {
    color: #acacac;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
  }
  .active {
    color:#fff;
  }
}
